<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>healing-hands</key>
	<string>Increases the critical chance of spells by 10%</string>
	<key>blessed-power</key>
	<string>Reduces Cast Times and Cooldowns by 10%.</string>
	<key>insight</key>
	<string>Reduces Mana Costs by 10%.</string>
	<key>surging-glory</key>
	<string>Increases natural mana regeneration by 10%.</string>
	<key>shining-aegis</key>
	<string>Your heals reduce their target&apos;s damage taken by 7.5% for 10 seconds.</string>
	<key>after-light</key>
	<string>Non-periodic healing shields the target for 10% of the healing done.</string>
	<key>repel-the-darkness</key>
	<string>Your heals increase the target&apos;s damage dealt by 25% for 10 seconds.</string>
	<key>ancient-knowledge</key>
	<string>50% of Overhealing is distributed to injured allies.</string>
	<key>purity-of-soul</key>
	<string>Spell critical hits decrease your next 2 spell casts by 50% and reduce spell cooldowns by 10%.</string>
	<key>searing-power</key>
	<string>Your healing spells increase the maximum health of the target by 10% for 1 minute.</string>
	<key>sunlight</key>
	<string>Your healing spells increase the dodge chance of the target by 10% for 1 minute.</string>
	<key>torrent-of-faith</key>
	<string>Your healing spells increase the healing received of the target by 10% for 1 minute.</string>
	<key>godstouch</key>
	<string>Each second you grant a small amount of shielding to all allies.</string>
	<key>redemption</key>
	<string>If an ally would die instead you instantly heal that ally for a small amount.  This can not occur more than once every 30 seconds.</string>
	<key>avatar</key>
	<string>All healing done has a 3% chance to summon an Avatar that heals allies for 15 seconds.</string>
</dict>
</plist>
