<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>healing-hands</key>
	<string>Increases the critical chance of spells by 10%</string>
	<key>blessed-power</key>
	<string>Reduces Cast Times and Cooldowns by 10%.</string>
	<key>insight</key>
	<string>Reduces Mana Costs by 10%.</string>
	<key>surging-glory</key>
	<string>Increases natural mana regeneration by 10%.</string>
	<key>shining-aegis</key>
	<string>Your spells reduce the target&apos;s damage taken by 25% decreasing to 0% over 5 seconds.</string>
	<key>after-light</key>
	<string>Your healing shields the target for 10% of the healing done.</string>
	<key>repel-the-darkness</key>
	<string>Your spells cast 5% faster and fire a bolt of light at an enemy target dealing 1000 damage. </string>
	<key>ancient-knowledge</key>
	<string>Increases critical chance by 5% and 50% of Overhealing is distributed to injured allies.</string>
	<key>purity-of-soul</key>
	<string>Healing done is increased by 10% and your damage taken is reduced by 10%.</string>
	<key>searing-power</key>
	<string>Your spells increase the maximum health and damage done of the target by 10% for 1 minute.</string>
	<key>sunlight</key>
	<string>Your spells create a spark of life causing the target to be healed for 50 the next time they take damage.</string>
	<key>arcane-blessing</key>
	<string>Your spells have a 10% chance to grant 400 shielding to the lowest health ally.</string>
	<key>godstouch</key>
	<string>Each second you grant 3 shielding to all allies.</string>
	<key>redemption</key>
	<string>Once every 30 seconds if an ally would die instead you instantly heal them for 300 and make them immune for 2.5 seconds.</string>
	<key>avatar</key>
	<string>All healing done has a 3% chance to summon an Avatar that heals allies for 15 seconds.</string>
</dict>
</plist>
